/* reset everything*/

ul,li,nav, section, footer, figure {
	margin: 0;
	padding: 0;
}

body {
	width: 70%;
	font-family: Montserrat,Arial,sans-serif;
}

/*this is my code from day4, hope you dont mind i copy it*/

ul {
	padding-top: 1em;
}

ul li {
	display: inline;
	list-style: none;
	padding-left: 5px;
	padding-right: 15px;

}

nav {
	width: 100%;
	height: 50px;
	background-color: #868686;
	text-align: left;
	margin-bottom: 20px;
}

/* end of copied code ;)*/

div#logo {
	background-color: #E05151;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2px;
}

div#logo > h1 {
	font-size: 95%;
	vertical-align: middle;
	display: inline;
}

#row1, #row2 {
	display: flex;
	justify-content: flex-start;
}

div#row1 {
	margin-bottom: 15px;
}

figure {
	width: 47%;
	vertical-align: top;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	/*margin: 10px;*/
}

figure.left {
	margin-right: 3%; 
}

figure.right {
	margin-left: 3%;
}

figcaption {
	font-size: 130%;
}

img.content {
	width: 100%;
	/*margin-right: 10%; decided to add all margins to figure*/
	/*margin-top: 5%;*/
}

img#logoimg {
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* just leaving it here, to show your what i tried first to clip the image 
	clip-path: inset(0% 15% 0% 15%);

adapted from: https://spigotdesign.com/crop-any-size-image-with-css/ 
also didn't work 

div.cropimage { 
    width: 474px; 
    height: 355px;
    overflow: hidden; 
}

div.cropimage img { 
    width: 100%;
}

now i go to photoshop...

*/

footer {
	background-color: #E05151;
	text-align: center;
}

footer > p {
	font-size: 80%;
	padding-top: 2em;
	padding-bottom: 1em;
}

.white {
	color: white;
	text-decoration-line: none;
}